<%= form_with(model: funnel, local: true) do |form| %>
  <% if funnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funnel.errors.count, "error") %> prohibited this funnel from being saved:</h2>

      <ul>
      <% funnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
