
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%=admin_root_path%>"><img src="/assets/admin/logo_dashboard.png"alt="logo_dashboard"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="<%=admin_notifications_path%>"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="notify-counter" id="counter" ><%=Notification.where(status: 0).size%></span></a></li>
            <li><a href="<%=edit_admin_user_path(current_admin)%>"><i class="fa fa-user" aria-hidden="true"></i></a><span class="name_user">Welcome <%=current_admin.f_name.capitalize%></span></li>
            <li><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="<%=admin_new_pass_path%>"><i class="fa fa-lock" aria-hidden="true"></i> CHANGE PASSWORD</a></li>
                <li><a href="<%=admin_logout_path%>"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>
            </ul></li>
        </ul>
    </div>
</nav>

 <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>